**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/*.db
**/*.db-shm
**/*.db-wal
**/*.user
**/TestResults
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/.env
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
**/README.md
**/docs
